@font-face {
  font-family: 'Fira Sans Condensed Regular';
  src: url('../fonts/FiraSansCondensed-Regular.woff2') format('woff2');
  src: url('../fonts/FiraSansCondensed-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans Condensed Bold';
  src: url('../fonts/FiraSansCondensed-Bold.woff2') format('woff2');
  src: url('../fonts/FiraSansCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/Oswald-Bold.woff2') format('woff2');
  src: url('../fonts/Oswald-Bold.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "result details";
  gap: 30px;
  align-items: end;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
}

.content__details {
  grid-area: details;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.content__list-container {
  max-height: 298px; 
  overflow: auto;
  margin-top: 26px; 
  position: relative;
}

.result__video-container{
  margin-bottom: 16px;
  position: relative;
}

.result__video{
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  overflow: hidden;
}

.content__video-card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title{
  font-family: "Fira Sans Condensed Regular";
  font-size: 18px;
}

.title{
  font-family: "Oswald Bold";
  font-size: 75px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__accent{
  color: rgba(84, 80, 80, 1);
}

.content__card-link{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.content__video-card-title{
  font-family: "Oswald Bold";
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.content__video-card-description{
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__checkbox-list{
  display: flex;
  gap:15px;
  align-items: center;
  flex-wrap: wrap;
}

fieldset{
  border: none;
}

.search-form__label{
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  background-color: #1b1919;
  font-family: "Fira Sans Condensed Regular";
  font-size: 18px;
  margin-top: 5px;
  appearance: none;
  color: white;
  cursor: pointer;
}

.search-form__pseudo-checkbox{
  border: 1px solid rgba(255, 255, 255, 1);
  width: 19px;
  height: 19px;
  margin-right: 5px;
  background-color: #1b1919;
  position: relative;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form__label:hover{
  text-decoration: underline;
}

.button{
  border: 1px solid rgba(255, 255, 255, 1);
  background-color:transparent;
  font-family: "Fira Sans Condensed Bold";
  font-size: 18px;
  text-align: center;
  color: white;
  min-height: 34px;
  cursor: pointer;
}

.search-form__submit-button{
  min-width: 194px;
  margin-top: auto;
}

.more-button{width: 100%;}

.button:hover {text-decoration: underline;}
.button:active {background-color: rgba(84, 80, 80, 1);}
.button:focus-visible {outline: 1px solid white;}

.content__list-item {
  display: block;
  margin-bottom: 30px;
  padding: 0 3px;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  align-items: flex-start;}

.content__card-link_current:active{
  background-color: rgba(84, 80, 80, 1);
}

.content__list-item:focus{outline: none;}
.content__list-item:focus-visible{
  outline: 1px solid white;
}